body {
    background: lightgrey;
}

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey
}

#clearBtn {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 0px;
    border-style:solid;
    border-color:darkslategrey;
    margin-bottom: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    justify-content: center;
    background-color: darkslategrey;
    align-content: space-between;
    grid-gap: 2px;
    padding: 5px;
    border-radius: 5px;
}

.box {
    border-color: black;
    background: white;
    padding: 1 1;
}
