#container {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 960px;
  }
  
  .box {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      //height: 60px;
      //width: 60px;
      padding: 0 0;
  }

  .drawn {
    border-color: black;
    border-style: solid;
    //border-width: 1px;
    //height: 60px;
    //width: 60px;
    padding: 0 0;
    background: grey;
  }